<div ng-include="'partials/navbar'"></div>

<div class="row text-center btn-toolbar">
  <h3>What's your Vibe?</h3>

  <button class="btn btn-info"
    ng-repeat="vibe in vibes | orderBy:'text'"
    ng-class="{active : searchQuery.isActiveVibe(vibe.text)}"
    ng-click="searchQuery.selectVibe(vibe.text)">
    {{vibe.text}}</button>
</div>

<div class="row text-center btn-toolbar">
  <h3>Where do you want to be?</h3>

  <button class="btn btn-info"
    ng-repeat="neighborhood in neighborhoods"
    ng-class="{active : searchQuery.isActiveNeighborhood(neighborhood.text)}"
    ng-click="searchQuery.selectNeighborhood(neighborhood.text)">
    {{neighborhood.text}}</button>
</div>

<h1 class="text-center">
  <button class="btn btn-success btn-lg btn-block"
    ng-disabled="!searchQuery.searchable()"
    ng-click="searchQuery.search()">
    Find a Vibe</button>
</h1>

<div class="footer">
  <p>Justin Dalton 2014</p>
</div>
