<div ng-include="'partials/navbar'"></div>

<div>
  <h1 class="row text-center">Here are some Vibes</h1>

  <div class="panel panel-default" ng-repeat="place in places">
    <div class="clearfix">
      <a href="{{place.url}}">
        <h2 class="place-title pull-left">{{place.name}}</h2></a>
      <img class="place-rating pull-right" src="{{place.rating_img_url_large}}" alt="{{rating}}" />
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-2">
          <img class="img-circle" src="{{place.snippet_image_url}}" alt="{{place.name}}" />
        </div>
        <div class="col-md-10">
          <p><em>{{place.getCategories()}}</em></p>
          <p>{{place.snippet_text}}</p>
        </div>
      </div>
    </div>
  </div>
</div>